{% extends 'layout.html' %} {% load crispy_forms_tags %} {% block title %}
Toners {% endblock title %} {% block content %}

<div>

  <h1 class="text-center"> TONERS </h1>
  <div class="row" style="font-family: 'Baloo Bhaina 2', cursive;">
    <div class="col-sm-4">
      <h3 class="text-center">Dispatch a Toner</h3>
      <form action="" method="POST">
        {% csrf_token %} {{form|crispy}}
        <input type="submit" value="Submit" class="btn btn-sm btn-info" />
      </form>

      <hr style="color: green;">

      {% if user.is_superuser %}
      <h2>Create a New Branch</h2>
      <form action="" method="POST">
        {% csrf_token %} {{form2|crispy}}
        <input type="submit" value="Submit" class="btn btn-sm btn-info" />
      </form>
      {% endif %}
    </div>
    <div class="col-sm-8" id="replaceable-content">
      <h3 class="text-center">List of toners Dispatched</h3>
      {% if toners %}

      <table class="table">
        <tr>
          <th>Branch</th>
          <th>Toner Model</th>
          <th>Reading</th>
          <th>Date Sent</th>
          <th>Time Since</th>
        </tr>
        {% for toner in toners %}
        <tr>
          <td>{{toner.branch}}</td>
          <td>{{toner.tonermodels}}</td>
          <td>{{toner.reading}}</td>
          <td>{{toner.created_on}}</td>
          <td>{{toner.created_on|timesince }}</td>
        </tr>
        {% endfor %}
      </table>

      {% else %}
      <p>No Toners sent to That Branch Yet.</p>
      {% endif %}

    </div>
  </div>
</div>
{% endblock content %}