<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django" />
            <add name="Django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python38\python.exe|C:\inetpub\wwwroot\django\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="C:\inetpub\wwwroot\django" />
            <add key="DJANGO_SETTINGS_MODULE" value="naivas.settings" />
        </appSettings>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="false" />
    </system.web>
</configuration>

